.DS_Store
.gitignore
.github/**
.prettierrc
.vscode/**
.vscode-test/**
eslint.config.mjs
mars-mips-*.vsix
node_modules/**
out/**
!out/mips.js
package-lock.json
PUBLISHING.md
src/**
tsconfig.json
webpack.config.js
